$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #0d6efd;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

$link-color:    $gray-800;

$font-size-base:              1.4rem; // Assumes the browser default, typically `16px`
$font-size-sm:                $font-size-base * .875;
$font-size-lg:                $font-size-base * 1.25;

@import "../../node_modules/bootstrap/scss/bootstrap";

$highlight_font_size: $font-size-base * 1.4;

header.main-head{
    margin-top: 2rem;
    margin-bottom: 1.4rem;
}
.professional{
    .introduction{
        font-size: $highlight_font_size;

    }
    article{
        margin-top: 1.2rem;
        margin-bottom: 2rem;
        a{
            text-decoration: none;
        }
        a h4{
            text-decoration: underline;
            color: $black;
        }
        a > span{
            color: $gray-600;
        }
        a > p{
            color: $gray-800;
        }
    }
}
.separation {
    font-size: $highlight_font_size;
    color: $gray-400;
    text-align: center;
}
.follow-me {
    p{
        font-size: $highlight_font_size;
        padding: 2rem 0;
        text-align: center;
        color: $gray-700;
        a{
            display: inline-block;
            color: $black;
        }
        a.block{
            display: block;
            margin: 2rem 0;
        }
    }
}
section{
    margin-bottom: 4rem;
}
